body {
    padding-inline: 10px;
    margin: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(home-interior.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    width: 600px;
    min-height: 350px;
    font-family: cursive;
    background-color: rgba(256, 256, 256, .6);
    color: #312e2e;
    border-radius: 17px;
    padding: 10px 20px;
}
h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 600;
}
.text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid #312e2e;
}
.hide {
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: x-large;
    cursor: pointer;
    transition: all .5s ease;
}
.hidden-text {
    margin-top: 15px;
    line-height: 1.5em;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.container .holder.active .hidden-text {
    height: 100px;
}
